---
layout: default
---
{% if page.url == "/" or page.url == "/jjing-neuro/" %}
    {% include header.html %}
{% endif %}

{% if page.url != "/" and page.url != "/jjing-neuro/" %}
<div class="page-content">
    {{content}}
</div>
{% else %}
<div class="page-content home-page">
    {{content}}
</div>
{% endif %}

{% if page.url != "/about/" and page.url != "/jjing-neuro/about/" and page.url != "/publications/" and page.url != "/jjing-neuro/publications/" and page.url != "/research/" and page.url != "/jjing-neuro/research/" %}
<style>
.page-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.home-page {
    margin-top: -100px;
}
</style>
{% endif %}
